/*------------------------------------*\
-------- Page Styles: Accordion
\*------------------------------------*/
body {
	position:relative;
	z-index:0;
}
.main:before {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	content:'';
	background:#e1e3e4 none repeat scroll 0 0;
}

.site-header-wrap {
	margin-bottom:60px;
	border-bottom:1px solid #cd9ad6;
}

.table.dataTable tbody tr{background-color:#F0F0F0 !important}
.table-bordered > thead > tr > th{color:#1B75BB !important;}

/*------------------------------------*\
-------- DEMO Code: accordion
\*------------------------------------*/
/*----- Accordion -----*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	/*box-shadow:0 0px 6px 3px #165C92;*/
	border-radius:0px;
	/*background:#d1d2d3;*/
	margin-bottom:30px;
}

/*----- Section Titles -----*/
.accordion-section-title {
	width:100%;
	padding:0;
	display:inline-block;
	line-height:50px;
	background:#00ACED;
	transition:all linear 0.15s;
	/* Type */
	font-size:1.200em;
	text-shadow:0px 1px 0px #1a1a1a;
}
.accordion-section-title-btn {
	width:100%;
	padding:0;
	display:inline-block;
	line-height:50px;
	transition:all linear 0.15s;
	/* Type */
	font-size:1.200em;
	text-shadow:0px 1px 0px #1a1a1a;
}
.accordion-section-title1 {
	width:100%;
	padding:0;
	display:inline-block;
	line-height:50px;
	background:#00ACED;
	transition:all linear 0.15s;
	float: left;
	font-size:1.200em;
	text-shadow:0px 1px 0px #1a1a1a;
}
.accordion-section-title_1 {
	width: 100%;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    background: #00ACED;
    transition: all linear 0.15s;
    font-size: 1.200em;
    text-shadow: 0px 1px 0px #1a1a1a;
    position: relative;
    /* top: 5px; */
    float: left;
}


/*.accordion-section-title.active, .accordion-section-title:hover {
	background:#1b75bb;
	color:#FFF!important;
	
	text-decoration:none;
}*/

.accordion-section:last-child .accordion-section-title {
	border-bottom:1px solid white;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding:15px;
	display:none;
}
.accordion-section { font-size:16px; /*border:1px solid #099CD4;*/}
#packed_shop1 { float:left; width:50%; font-size:16px; }
#packed_shop2 { float:left; width:50%; font-size:16px;    position: relative; }
#packed_shop3 { float:left; width:50%; clear:both; font-size:16px; }
#packed_shop4 { float:left; width:50%; font-size:16px;}
#packed_shop5 { float:left; width:32%; font-size:16px;     position: relative;}

/*#packed_shop1 #insurance_amount { 
background-color: #FFF;
    background-image: none;
    border: 1px solid #1b75bb;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    font-size: 14px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}*/
#packed_shop3 #special_handling_msg {
	background-color: #FFF;
    background-image: none;
    border: 1px solid #1b75bb;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    font-size: 14px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
#packed_shop5 { clear:both; float:left; width:30%; margin-right:5%; }

#packed_shop6 { float:left; width:30%; margin-right:5%;}
#packed_shop7 { float:left; width:30%; }
#packed_shop8 { clear:both; float:left; width:30%; margin-right:5%;}
#packed_shop9 { float:left; width:30%; }
#packed_shop12 { float: left; width: 25%; }
#packed_shop13 { float: left;  width: 25%; }
#packed_shop14 { float: left;  width: 25%; }
#packed_shop15 { float: left;  width: 25%; }
#packed_shop16 { float: left; margin-right: 1%; width: 23%; }
#packed_shop17 { float: left; margin-right: 1%; width: 23%; }
#accordion-section1 { float:left; width:100%; }
#packed_shop5 input { background-color:#FFF; color:#28abe2; }
#packed_shop6 input { background-color:#FFF; color:#28abe2; }
#packed_shop7 input { background-color:#FFF; color:#28abe2; }
#packed_shop8 input { background-color:#FFF; color:#28abe2; }
#packed_shop9 input { background-color:#FFF; color:#28abe2; }

#packed_shop18 { float: left; width: 25%; }
#packed_shop19 { float: left;  width: 25%; }
#packed_shop20 { float: left;  width: 25%; }
#packed_shop21 { float: left; margin-right: 1%; width: 19%; }
#packed_shop22 { float: left; margin-right: 0%; width: 25%; }
#packed_shop23 { float: left; margin-right: 1%; width: 18%; }
#packed_shop24 { float: left; margin-right: 1%; width: 18%; }
#packed_shop25 { float: left; margin-right: 1%; width: 18%; }
#packed_shop26 { float: left; margin-right: 1%; width: 18%; }
#packed_shop27 {  float:left; width:33%;  }
#packed_shop28 { clear: both; float: left; width: 47%;  margin-right: 5%; }
#packed_shop29 { clear: both; float: left; width: 100%;  position:relative; }
#packed_shop30 { float: left; width: 45%;  margin-right: 5%; }
#packed_shop31 { clear: both; float: left; width: 31%;  margin-right: 3%;   margin-top: 7px; }
#packed_shop32 {     float: left;    width: 50%;    font-size: 16px;    margin-top: 12px; }

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
	position:relative;
}
.accordion-section-title.active:after{content: '';
    position: absolute;
    right: -12px;
    bottom: -9px;
    border-left: 9px solid #333;
    border-right: 7px solid transparent;
    border-bottom: 9px solid transparent;}
	.accordion-section-title.active:before{content: '';
    position: absolute;
    left: -11px;
    bottom: -9px;
    border-right: 9px solid #333;
    border-left: 7px solid transparent;
    border-bottom: 9px solid transparent;}
	
/*----- Section Content -----*/
.accordion-section-content {
	padding:15px;
	display:none;
	margin:0 10px;
	/*background-color:#d0d2d3;*/
	background-color:#F0F0F0;
	float:left;
	width:98%;
}
.accordion-section-content_sub {

	background-color: #F0F0F0;
	
}
.table-striped>tbody>tr:nth-child(odd)>td{
	background-color: #F0F0F0;
}

#box_border { padding-top:25px; }
#box_borderlogin { padding:25px; }

#login_infomation { background:#CCC; border:none; }
#username_main1 input { background:#FFF; color:#1b75bb; }
#username_main input { background:#FFF; color:#1b75bb; }
.input-group-lg input { background:#FFF; color:#1b75bb; }
.input-group-lg { margin:10px; }
#box_border .accordion-section a { color:#FFF!important; }

input[placeholder], [placeholder], *[placeholder] {
    color: black !important;
}
input::-webkit-input-placeholder{
    color: black !important;
}
input:-moz-placeholder {
    color: black !important;
}
/*
.blue_placeholder input[placeholder], [placeholder], *[placeholder] {
    color: #28abe2 !important;
}*/
.midiumtetbox{
    width: 100%;
    background-color: white;
}
.my_btn_bg{    height: 60px;
    line-height: 60px;}

.my_btn_bg .bartextalign {
    width: 25%;
    float: right;
    background-color: #1B75BB;
    padding: 0 10px;
    border-radius: 0 0 0 80px;
    margin-right: 0;
    text-align: center;
}

.my_btn_bg .bartextalignbottombutton {
    width: 25%;
    float: right;
    background-color: #1B75BB;
    padding: 0 10px;
    border-radius: 80px 0 0 0;
    margin-right: 0;
    text-align: center;
}
.my_btn_bg .bartextalign input[type="submit"]{border:none; outline:none; text-align:center; width:100%; font-size:20px; font-weight:600; color:red; background-color:transparent}

.my_btn_bg .bartextalignbottombutton input[type="submit"]{border:none; outline:none; text-align:center; width:100%; font-size:20px; font-weight:600; color:#fff; background-color:transparent}


.reg_main {     display: block;
    position: relative;
    float: left;
    background: #d0d2d3;
    width: 100%;
    /* margin-left: 10px; */}

#login_active_mian {
    border-bottom: 9px solid transparent;
    border-left: 9px solid #333;
    border-right: 7px solid transparent;
    bottom: -9px;
    content: "";
    position: absolute;
    right: -6px;
}

.table>thead>tr>td{
	font-weight:bold !important;
}

/*.dataTables_info{
	color:white  !important;
}
a.paginate_button{
	color:white  !important;
}*/

.accordinbarshadow {
	/*box-shadow: 0 0px 4px 4px #165C92 !important;
	    border-right: 1px solid #165C92;*/
		    box-shadow: 0 0px 14px 2px #165C92 !important;
    border-right: 1px solid #165C92;
}

.textareashadow{
box-shadow:0px -1px 0px 1px #165C92 !important;
}
.packageoptionalspacing {
    padding: 3px !important;
    color: black !important;
    background-color: #6699FF !important;
}
.packagespacing{
	padding: 6px 0px 0px 0px !important;
	color: #6699FF !important;
}
.packagespacingsec{
	padding: 16px 0px 0px 0px!important;
}
.packagespacingdel{
padding-left: 10px !important;
padding-bottom: 10px !important;
padding-right: 10px !important;			
}
.packagespacingdeltext{
	    padding: 6px 0px 0px 0px !important;
	color: #6699FF !important;
}
.packageinnerspacing{
margin-left: 4%;
/*margin-top: 4%;
*/}

.packageinnerspacingdel{
margin-top: 4%;
}

.table-bordered > thead > tr > th > i{
    color: #2fa4e7 !important;	
}
/*
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
		color:white  !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
			color:white  !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
				color:white !important;

}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color:white  !important;
	    background: #00ACED  !important;
		    border: 1px solid white  !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	color:white  !important;
	    background: #00ACED  !important;
		    border: 1px solid white  !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
color: white !important;
}
*/
.form-group{
	margin-bottom: 10px;
}

.txt_center{
	text-align:center !important;
}
.pickup_req_txt{
    color: #1B75BB;
    font-weight: bold;
    font-size: 19px;
}
.optional_service{
	width:100%;
	/*background:gray !important;
	border:1px solid #00ACED;*/
}
table.dataTable tbody td{
	padding: 1px 0px !important;
}
.ship_overview_bottom_main {
    width: 36%;
    float: left;
    margin: 0 auto;
    display: inline-block;
    margin-left: 31%;
    margin-top: 10px;
}
.ship_overview_bottom_left{
	float:left;
	margin-left:7%;
}
.ship_overview_bottom_right{
	float:right;
}


.selecttt {
    background: #1B75BB!important;
    color: #FFF!important;
}
/*.carousel-inner>.item{
	    top: 25px !important;
}
*/
.accordinbarshadowbottomsubmit{
        width: 105.4% !important;
    position: relative !important;
    right: 21px !important;
    top: 27px !important;
}
.pkgaccordinbarshadowbottomsubmit{
       width: 104.4% !important;
    position: relative !important;
    right: 25px !important;
    top: 2px !important;
}


.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}









.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
    position: absolute;
    z-index: 999;
    top: 28px !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 8px 8px!important;
    border-bottom-color: rgba(0,0,0,0.9);
}

[class$="-arrow"] {
    width: 0px!important;
    height: 5px!important;
	margin-top: 0px!important;
}



.tooltip-inner {
    max-width: 600px!important;
    padding: 3px 8px;
    color: #ffffff;
	    
}


table.dataTable tbody td {
    position: relative;
}

.fromlookup{
	width:5% !important;
	float:left  !important;
}
.fromlookupsec{
	width:95%  !important;
	float:right  !important;
}
.tolookup{
	width:5%  !important;
	float:left  !important;
}
.tolookupsec{
	width:95%  !important;
	float:right  !important;
}

.dataTable tr td a {
	color:black !important;
}

#shiptabex_filter{
	display:none !important;
}

.chargesapply :hover {
	color:white !important;
}

.prioritymainclr : hover{color:blue !important;}