body { margin: 0; padding: 0;background-color: #fff; }
img{max-width:100%;}
.header_section{    float: left;
    width: 100%;
    border-bottom: #ddd solid 1px;
    margin-bottom: 25px;
	}
.top_header{float:left; width:100%; background-color:#f9f9f9; border-bottom:1px solid #e8e8e8; line-height:45px;}
.login_mail{float:left;}
.login_mail ul{float:left; width:100%; margin:0; padding:0; list-style:none;}
.login_mail ul li{float:left; font-size:13px; font-weight:normal; border-left:1px solid #e8e8e8;}
.login_mail ul li a{color:#a8a8ab; text-decoration:none; padding:0 10px;}
.login_mail ul li a i{color:#df4a43; margin-right:10px;}
.login_mail ul li:last-child{border-right:1px solid #e8e8e8;}
.social_box{float:right; line-height:67px;}
.social_box ul{float:right; margin:0; padding:0; list-style:none;}
.social_box ul li{float:left; font-size:13px; font-weight:normal; border-left:1px solid #615F5F}
.social_box ul li a{color:#a8a8ab; text-decoration:none; padding:0 20px;}
.social_box ul li:last-child{border-right:1px solid #615F5F}
.social_box ul li a:hover{color:#fff;}
.header_two{float:left; width:100%; line-height:85px;}
.logo{margin:2px 0;}
.banner{float:left; width:100%; position: relative;    margin-top: -25px;}

.img001 {
	width:226px;
	height:122px;
	display:inline-block;	
	background: url(../images/ship-package.png) no-repeat top;
}
.img001:hover {
	width:226px;
	height:122px;
	display:inline-block;	
	background: url(../images/ship-package-hover.png) no-repeat top;
}
.img002 {
	width:226px;
	height:122px;
	display:inline-block;	
	background: url(../images/campare-price.png) no-repeat top;
}
.img002:hover {
	width:226px;
	height:122px;
	display:inline-block;	
	background: url(../images/campare-price-hover.png) no-repeat top;
}
.img003 {
	width:226px;
	height:122px;
	display:inline-block;	
	background: url(../images/track-package.png) no-repeat top;
}
.img003:hover {
	width:226px;
	height:122px;
	display:inline-block;	
	background: url(../images/track-package-hover.png) no-repeat top;
}
/*.carousel {
    position: relative;
    background: url(../images/slider.png) no-repeat top;
    background-size: 100%;
    width: 100%;
}*/
/*.header_nav{float:right; width:100%;}
.header_nav ul{float:right; margin:0; padding:0; list-style:none;width:100%;}
.header_nav ul li{float:left; margin:0; padding:0; font-size:14px; font-weight:bold; color:#e5e2e2; text-transform:uppercase; line-height:85px; height:43px;z-index: 9999;}
.header_nav ul li a{color:#000000; text-decoration:none; padding:0 14px; display:block; position:relative}
.header_nav ul li:hover{border-bottom:0px solid #fff;}
.header_nav ul li div.search_box{float:left; margin:9px}
.header_nav ul li div.search_box a{width:35px; height:35px; text-align:center; line-height:35px; color:#343f3f; background-color:#fafafa; padding:0; border-radius:5px;}
.header_nav ul li div.search_box a i{line-height:35px;}*/

/*.service_boxes{float:left; width:100%; position:relative;}
.ship_btn{float:left; width:18%; margin:6% 0; margin-right:10px;}

.ship_pkg{float:left; width:79%; padding:10px; text-align:left;}
.ship_pkg h3{font-size:18px; font-weight:600; color:#fff; text-transform:uppercase; margin:10px 0; color:#fff;}
.ship_pkg p{color:#dddada; font-size:14px; font-weight:normal;}*/

.services_list{float:left; width:100%; background-color:#565656; margin-top:-7%}
.detail_section{float:left; width:100%; padding: 0;background-image: url('../images/buttons-ship-bg.png'); padding:10px 0;background-repeat: no-repeat;}
.detail_section ul{float:left; width:100%; margin:0; padding:0; list-style:none;  padding-left: 11%;}
.detail_section ul li{float:left; width:37%; margin:0; padding:0; position:relative;}

.ship_pkg{background-color:#4b4b4d; border-radius:10px; overflow:hidden; height:120px; box-shadow:inset 0 0 15px 0 #131724; width:280px; position:relative; cursor:pointer}

.packages_box {position:absolute; right:20px; top:20px; width:31.33%; opacity:0; webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }
.package_1 a{background-color:#666;  display:block; margin-bottom:10px; padding:10px; font-size:13px; font-weight:normal; color:#fff; border-radius:0 5px 5px 0;
transition-delay: 0.1s;
  transition-duration: 0.2s;
  opacity:0;
  webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
}
.package_1 a:hover{color:#333; background-color:#ddd; text-decoration:none}
.package_2 a{background-color:#666; display:block; padding:10px; font-size:13px; font-weight:normal; color:#fff; border-radius:0 5px 5px 0;
	transition-delay: 0.1s;
  transition-duration: 0.2s;
  opacity:0;
  webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
}
.package_2 a:hover{color:#333; background-color:#ddd; text-decoration:none}
.detail_section ul li:hover .packages_box{opacity:1;}
.detail_section ul li:hover .package_1 a{  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);}
.detail_section ul li:hover .package_2 a{  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);}


.ship_btn{float:left; width:20%; border-radius:10px 0 10px 0; background-color:#131724; height:100vw; padding:10px;}
.ship_pkg_dtl{float:left; width:80%; text-align:center}
.ship_pkg_dtl img{margin-top:10px;}
.ship_pkg_dtl h3{text-align:center; display:block; float:left; width:100%; margin:10px 0; font-size:18px; font-weight:normal; color:#fff;}

.about_section{float:left; width:100%; margin-top:1%; margin-bottom:20px;}
.about_box{float:left; width:100%;}
.about_heading {float:left; width:100%; border-bottom:1px solid #ecebeb; margin-bottom:20px;}
.about_heading h3{font-size:18px; font-weight:normal; color:#666666; display:inline-block; border-bottom:2px solid #bb1111; margin:0; line-height:40px; text-transform:uppercase; position:relative; bottom:-1px;}
.about_box p{font-size: 14px;font-weight: 300;color: #817f7f;line-height: 23px;text-align: justify;    margin-bottom: 19px;}
.featured_section{float:left; width:100%; margin:20px 0;}
.about_list{float:left; width:100%; background-color:#f8f7f7; position:relative; padding:10px 20px;}
.about_list:after, .about_list:before{position:absolute; content:''; right:0; top:0;}
.about_list:before{
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 0px solid #ddd6d6;
  border-bottom: 20px solid #ddd6d6;
  top: -20px;
  right: 0;
  }
.about_list:after{
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 0px solid #fff;
  border-top: 20px solid #fff;
  }
ul.list_box{float:left; width:100%; list-style:none; margin:0; padding:0;}
ul.list_box li{float:left; width:100%; margin:10px 0; padding:10px 0; border-bottom:1px solid #e8e7e7}
.img_1{float:left; width:25%; margin-right:10px; border:1px solid #666; padding:2px; background-color:#fff;}
.about_detail{float:left; width:71%;}
.about_detail h3{font-size:14px; font-weight:normal; color:#d63737; text-transform:uppercase; margin:0; margin-bottom:5px;}
.about_detail p{font-size:13px; font-weight:normal; color:#888686; line-height:22px;}
.featured_section .about_heading{margin-bottom:10px;}
.feature_number{background-color:#d63737; width:50px; height:50px; line-height:50px; text-align:center; color:#fff; font-size:30px; font-weight:bold; float:left; margin-right:10px;}
.featured_detail{float:left; width:80%;}
.featured_detail h3{font-size:14px; font-weight:bold; color:#444444; text-transform:uppercase; margin:0; margin-bottom:5px;}
.featured_detail p{font-size:14px; font-weight:normal; color:#888686; line-height:22px;}
.messages_chat{float:left; width:100%; text-align:center; margin:10px 0; font-size:14px;}
.messages_chat span{display:block; color:#d63737; margin-top:10px;}
.messages_chat small{display:block; font-size:14px; color:#969393;}
.msg_chat_box{float:left; width:100%; text-align:center; border-radius:5px; padding:10px; font-size:14px; position:relative; background-color:#fff; border:1px solid #ddd; margin-top:15%}
.arrow{position:absolute; left:0; right:0; top:-17px; z-index:1;}

.footer_section{float:left; width:100%; background-color:#2f2f2f;}
.footer_nav{float:left; width:100%; padding:10px 0;}
.footer_nav ul{float:left; width:100%; margin:0; padding:0; list-style:none;}
.footer_nav ul li{float:left; margin:0; padding:0; font-size:13px; font-weight:normal; color:#fff;}
.footer_nav ul li a{color:#fff; padding:0 10px;}
.footer_nav p{font-size:14px; font-weight:normal; color:#fafafa;}
.shiplogos{float:right; text-align:right; padding:0;}
.shiplogos a{margin:0 5px;}


.bartextalignmain{width:100%;}
.bartextalign{width:30%;  display: inline-block; background-color:#1B75BB; padding:0 10px; border-radius:0 80px 0 0; margin-right:10px; padding-left: 2%;}
.bartextalign2{text-transform:none;display:inline-block;}
.bartextalign3{padding-right:3%;}
.bartextalign4{padding-right:8%;}
.bartextcolor{color:#FFF;}
.bartextredcolor{color:#ef1e26;}
.paypalbuynow{width:80%;float:right;}

.bartextalign:hover{color:white !important;}
.ch-container h3{color:#0324a1;text-transform:capitalize;}

.previewship li { font-size: 18px; text-transform: capitalize;}
.fa fa-fw fa-sort{ display:none !important;}

.previewshipcheck {
	background: #ef1e26;
padding: 5px;
width: 23px;
height: 14px;
}

nav {
    padding:10px 0;
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:inline-block;
    position:relative;
}

/* sub navigation */
nav li ul {
    background-color: black;
    position: absolute;
    top: 36px;
    width: 170px;
    z-index: 999;
    left: 21%;
}
nav li li {
    position:relative;
    margin:0;
    display:block;
}
nav li li ul {
    position:absolute;
    top:0;
    left:200px; /* make this equal to the width of the sub nav above */
    margin:0;
}

/* style all links */
nav a {
    line-height:40px;
    padding:0 12px;
    margin:0 12px;
}
nav a {
    color:black;
	font-weight: bold;
	    text-transform: uppercase;
    line-height: 40px;
	    text-decoration: blink;
    display:block;
}
nav a:hover,
nav a:focus,
nav a:active {
    color:#157ab5;
	    text-decoration: blink;
}

/* style sub level links */
nav li li a {
    border-bottom:solid 1px black;
    margin:0 10px;
    padding:0;
	color:white;
	    text-align: center;
}
nav li li:last-child a {
    border-bottom:none;
}

/* show arrows for dropdowns */
nav li.dropdown > a {
    background-image:url('../images/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
}

nav li li.dropdown > a {
    background-image:url('../img/arrow-right.png');
    background-position:right 16px;
    background-repeat:no-repeat;
}

/* hide sub menu links */
ul.sub-menu {
    display:none;
}
.dropdown ul{postion:absolute;}



/* for autosuggestion css */
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    display:none;
	
}

.tt-dropdown-menu {
    width: 510px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;

}
/* for autosuggestion css */

.sec-content {
    margin: 0 !important;
    width: 100%!important;
}
.topblockbillingcontact{
	border:1px solid black !important;
	
}
.marginleft17{
	margin-left:17% !important;
}
.shippingchoice{
	width:30% !important;
}
.shippingchoice2{
	background: transparent !important;border: 0px !important;    margin-left: 13% !important;
}


.com_sender_help {
width:200px;
margin:0px 8px 8px 8px;
float:left;
}
.com_sender_help h3 {
color: #fff;
font-size: 20px;
margin: 10px auto;
padding: 5px;
text-align: center;
width: 75%;
font-weight:bold;
}
.help_inner {
padding:5px;
}
.help_inner p {
text-align: justify;
}
#panel {
height: auto;
width: 230px;
background: #00ACED;
float: left;
display: none;
color: white;
}
#click {
height: 25px;
width: 25px;
margin-left:50%;
}
.popover.left {
top: 239px !important;
left: 0px !important;
width: 18% !important;
height: auto !important;
}
.btn {
padding:1px 7px !important;
}
.show_hidetoggle {
display:block !important;
}
.toggle {
display:inline-block;
height:20px;
width:20px;
background:url("https://ouiship.com/images/minus-icon.png");
margin-left: 3%;
}
.toggle.expanded {
background:url("https://ouiship.com/images/plus-icon.png");
}

